p{
    background-color: aqua;
    padding: 10px;
}
h1{
    color: red;
    text-align: center;
}
h3{background-color: yellow;}

img{
    position: relative;
    margin-left: 50px ;
    margin-top: 50px;
    margin-right: 50px;
}
a{
    text-align: center;
}
body{
    text-align: center;
}